extends layout

block content

  main
  
    
    div.admin

      h1 #{ title }
      table.table.table-stripped
        tbody
          each user, key in userData
            //- tr(data-id="#{bookData.title}")
            //- td.action
            //-   //- button.btn.btn-danger.btn-sm.remove(type="button")
            //-   //-   span.glyphicon.glyphicon-remove(title="Remove")
            //- td.action
            div(class="searchInfo")
              
              img(src="/images/employee_image_placeholder.png")

              div#searchResult
                //- form(action="/editBook", method="post", id="newBookForm", class="libraryInfo")
                p= userData[key].email
                p= userData[key].state
                if(userData[key].firstname)
                  p= userData[key].firstname
                  p= "Store Id: " + userData[key].lid
                  p= "Department: " + userData[key].did
              //- div(class="toolPane")
                a(href="/editUser/#{userData[key].email}") Edit
                a(href="/deleteUser/#{userData[key].email}") Delete


              
      script(type="text/javascript", src="routes/index.js") 
